@font-face {
    font-family: 'Noto Nastaliq Urdu';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-nastaliq-urdu@latest/arabic-400-normal.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans Devanagari';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-devanagari@latest/devanagari-400-normal.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans@latest/latin-400-normal.woff2) format('woff2');
    font-display: swap;
}

#trans-tooltip {
    position: absolute;
    z-index: 2147483647;
    color: #fff;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px;
    pointer-events: none;
    opacity: 0;
    background: rgb(30, 43, 64);
    padding: 8px 12px;
    border-radius: 8px;
    transition: opacity 0.2s;
}

#trans-tooltip.show {
    opacity: 1;
}

.font-arabic {
    font-family: 'Noto Nastaliq Urdu', sans-serif !important;
    direction: rtl;
}

.font-hindi {
    font-family: 'Noto Sans Devanagari', sans-serif !important;
}

.font-latin {
    font-family: 'Noto Sans', sans-serif !important;
}